fastapi
uvicorn
sqlalchemy
pymysql
python-jose[cryptography]
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose
opencv-python-headless
easyocr
pillow
pandas
openpyxl
reportlab
selenium
python-dotenv
email-validator
pydantic
pytesseract
python-multipart
